body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    max-width: 800px;
    margin: 1rem auto;
    padding: 1rem;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

aside {
    width: 300px;
    margin: 1rem auto;
    border: 1px solid #999;
    padding: 1rem;
    background-color: #f4f4f4;
    color: #000;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 2rem;
    border-top: 1px solid #ccc;
    text-align: center;
    padding: 1rem;
}
